<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
</head>
<body>
<nav th:replace="layouts/menu :: user-navbar"></nav>
<div class="container" style="padding-top: 2rem">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form th:method="POST" th:action="@{/payment-config}">
                <div class="form-group">
                    <label for="procurementNatureId">Select Procurement Nature</label>
                    <select class="form-control" id="procurementNatureId">
                        <option th:each="nature : ${procurementNatures}" th:value="${nature.id}"
                                th:text="${nature.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="procurementMethodId">Select Procurement Method</label>
                    <select class="form-control" id="procurementMethodId">
                        <option th:each="method : ${procurementMethods}" th:value="${method.id}"
                                th:text="${method.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <select  name="types" class="selectpicker" multiple data-live-search="true">
                        <option th:each="type : ${types}" th:value="${type}" th:text="${type}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
                <a th:href="@{/payment-config}" class="btn btn-warning btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
</script>
</body>
</html>
